<div class="container" style="margin-top: 30px; ">
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <p style="padding: 20px; font-size: 18px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ut.
        Voluptatibus minima sint nobis expedita a inventore error totam,
        recusandae numquam doloribus mollitia hic iusto, perspiciatis aut, quia
        veniam reiciendis.
      </p>
      <a
        href="#"
        class="btn btn-primary btn-lg"
        style="margin-left: 20px; margin-bottom: 20px;"
        >Read More</a
      >
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="text-center">
        <img
          src="{{url_for('static', filename='images/coffee.jpg')}}"
          class="img-rounded"
          alt="Cinque Terre"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="text-center">
        <img
          src="{{url_for('static', filename='images/coffee1.jpg')}}"
          class="img-rounded"
          alt="Cinque Terre"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="col-sm-8 col-md-8 ">
      <p style="padding: 20px; font-size: 18px;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat
        exercitationem, autem nesciunt asperiores nostrum harum hic, voluptates
        tempora expedita sapiente nulla quos at corporis velit! Rerum incidunt
        nemo eveniet illo?
      </p>

      <a
        href="/articles"
        class="btn btn-primary btn-lg"
        style="margin-left: 20px; margin-bottom: 20px;"
        >Read More</a
      >
    </div>
  </div>
</div>
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-8 col-md-8 ">
      <p style="padding: 20px; font-size: 18px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ut.
        Voluptatibus minima sint nobis expedita a inventore error totam,
        recusandae numquam doloribus mollitia hic iusto, perspiciatis aut, quia
        veniam reiciendis.
      </p>

      <a
        href="/articles"
        class="btn btn-primary btn-lg "
        style="margin-left: 20px; margin-bottom: 20px;"
      >
        Read More
      </a>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="text-center">
        <img
          src="{{url_for('static', filename='images/cooffee3.jpg')}}"
          class="img-rounded"
          alt="Cinque Terre"
          style="width: 80%; transform: rotate(90deg)"
        />
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="text-center">
        <img
          src="{{url_for('static', filename='images/coffee1.jpg')}}"
          class="img-rounded"
          alt="Cinque Terre"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="col-sm-8 col-md-8 ">
      <p style="padding: 20px; font-size: 18px;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat
        exercitationem, autem nesciunt asperiores nostrum harum hic, voluptates
        tempora expedita sapiente nulla quos at corporis velit! Rerum incidunt
        nemo eveniet illo?
      </p>
      <a
        href="/articles"
        class="btn btn-primary btn-lg"
        style="margin-left: 20px; margin-bottom: 20px;"
      >
        Read More
      </a>
    </div>
  </div>
</div>
<!-- -->
