<div class="conainer-fluid">
    <div class="jumbotron" style="background-color: #302f2f; font-size:24px; color: white; margin-bottom: -15px;">
        <!-- Title for the footer -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1">
                    <img src="{{url_for('static', filename='images/logo.png')}}" class="img-rounded" alt="Cinque Terre"
                        style="width:80%; height:70px; margin: 40px 40px 40px 40px; border-radius: 50%;" />
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9" style="margin-top: 45px">
                    <span style="font-size: 45px;">OhayaMic</span>
                </div>
            </div>
        </div>        
        <!-- Body of the footer-->
        <div class="row" id="footerLinks">
            <div class="col-sm-12 col-md-3 col-lg-3" style=" margin-left: 30px; margin-bottom: 20px"> 
                <p class="font-size-">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <p><a class= "link" href="#" style="color:white; font-weight: bold" ">More on this</a></p>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2" style=" margin-left: 30px; margin-bottom: 20px;"> 
                <p><a class= "link" href="/contact" style="color:white; font-weight: bold">Contact us</a></p> 
                <p ><a class= "link" href="#" style="color:white; font-weight: bold">ohayamic@gmail.com</a></p> 
                <p><a class= "link" href="#" style="color:white; font-weight: bold">+4915218025781</a></p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style=" margin-left: 30px; margin-bottom: 20px">
                <p>Looking for new challenges? We are hiring!</p>
                <p><a class= "link" href="#" style="color:white; font-weight: bold">Vacancies</a></p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style=" margin-left: 30px; margin-bottom: 20px"> 
                <p><a class= "link mani" href="#" style="color:white; font-weight: bold">Our manifesto</a></p>
                <p><a class= "link" href="#" style="color:white; font-weight: bold">Press</a></p>
                <p><a class= "link" href="#" style="color:white; font-weight: bold">Data protection</a> </p>
                <p><a class= "link" href="#" style="color:white; font-weight: bold">English</a></p>
            </div>
            <div class="col-sm-1 col-md-1"> </div>

        </div>
        
    </div>
    </div>
</div>
