{% extends 'layout.html'%} {% block body %}
<div class="container" style="padding: 30px; font-size:24px">
  <h1>Article</h1>
  <p>You are viewing article number {{ article.id }}</p>
  <p style="font-size: 16px">
    <small>Written by {{ article.author }} on {{ article.date_created }}</small>
  </p>

  <p style="margin-bottom: 30px">{{ article.body | safe }}</p>

  <div class="container-fluid">
    <div class="row" style="margin-bottom: 30px; margin-left: -10px">
      <div
        class="col-xs-3 col-sm-3 col-md-2 btn btn-primary btn-lg"
        style="margin-right: 3px; color: blanchedalmond"
      >
        <a href="/edit_article/{{ article.id }}" style="color: blanchedalmond"
          >Edit Article
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <form action="{{url_for('delete_article', id=article.id)}}">
          <input type="hidden" name="-method" value="DELETE" />
          <input
            type="submit"
            value="Delete Article"
            class="btn btn-danger btn-lg"
          />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
