{% extends 'layout.html'%} {% block body%}
<div class="container-fluid">
  <div class="jumbotron text-center" style="margin-top: -17px; height:400px;">
    <h1 class="display-4">Welcome to the Home page</h1>

    <div style="width: 50%; margin:0 auto;">
      <p class="lead" style="font-size:30px;">
        This application is built with flask and bootstrap and styled using CSS
        styles. Contact me for further information.
      </p>
    </div>
  </div>
</div>

{% include 'includes/body.html'%} {%endblock%}
