{% extends 'layout.html'%} {%block body%}
<div
  class="container-fluid"
  style="background: linear-gradient(to bottom, #ffff99 30%, #e2e2d3 100%); height: 100%; margin-top: -18px"
>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-6 col-md-6">
      <h1
        style="font-size: 45px; font-weight: 700; margin: 50px 40px 10px 40px;"
      >
        Effectively active in emerging technology integration and know how -
        Michael
      </h1>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-6 col-md-6">
      <p style="font-size: 24px;  margin: 0px 0px 40px 40px;">
        Technology has two faces. We all feel it, but sometimes can’t find words
        to describe it. Some of the technologies I have acquinted myself over
        the years.
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <h1 style="font-size:40px; font-weight: bolder; margin:80px 60px 20px;">
      Major Technologies
    </h1>
    <div class="col-sm-6 col-md-6" style="margin-right:-100px">
      <img
        src="{{url_for('static', filename='images/techOffice.jpg')}}"
        class="img-rounded"
        alt="Cinque Terre"
        style="width: 80%; margin: 40px 40px;"
      />
    </div>
    <div class="col-sm-6 col-md-6">
      <h1 style="margin:100px 20px 10px; font-weight: 900 ">
        Futuristic Frameworks
      </h1>
      <p style="margin-left: 20px; font-size:24px;">
        These frameworks were majorly used for developing respondsive web
        application. Technoligies HTML, CSS were also used in the course of
        developement.
      </p>
      <div class="row" style="margin-top: 20px">
        <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
          <img
            src="{{url_for('static', filename='images/react.png')}}"
            class="img-rounded"
            alt="Cinque Terre"
            style="width: 130px; height:100px; "
          />
        </div>
        <div class="col-sm-9 col-md-9">
          <a
            style="font-size: 35px; font-weight: 900; color:black; text-decoration: underline; "
          >
            React.js Framework
          </a>

          <p style="font-size: 24px">Here are the details</p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
          <img
            src="{{url_for('static', filename='images/redux.png')}}"
            class="img-rounded"
            alt="Cinque Terre"
            style="width: 90px; height:100px; "
          />
        </div>
        <div class="col-sm-9 col-md-9">
          <a
            style="font-size: 35px; font-weight: 900; color:black; text-decoration: underline; "
          >
            Redux Framework
          </a>

          <p style="font-size: 24px">Here are the details</p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
          <img
            src="{{url_for('static', filename='images/mysql1.png')}}"
            class="img-rounded"
            alt="Cinque Terre"
            style="width: 120px; height:100px; "
          />
        </div>
        <div class="col-sm-9 col-md-9">
          <a
            style="font-size: 35px; font-weight: 900; color:black; text-decoration: underline; "
          >
            Mysql
          </a>

          <p style="font-size: 24px">Here are the details</p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
          <img
            src="{{url_for('static', filename='images/mongodb.png')}}"
            class="img-rounded"
            alt="Cinque Terre"
            style="width: 100px; height:100px; "
          />
        </div>
        <div class="col-sm-9 col-md-9">
          <a
            style="font-size: 35px; font-weight: 900; color:black; text-decoration: underline; "
          >
            MongoDB
          </a>

          <p style="font-size: 24px">Here are the details</p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
          <img
            src="{{url_for('static', filename='images/bootstrap.png')}}"
            class="img-rounded"
            alt="Cinque Terre"
            style="width: 100px; height:100px; "
          />
        </div>
        <div class="col-sm-9 col-md-9">
          <a
            style="font-size: 35px; font-weight: 900; color:black; text-decoration: underline; "
          >
            Bootstrap Framework
          </a>

          <p style="font-size: 24px">Here are the details</p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
          <img
            src="{{url_for('static', filename='images/flask.png')}}"
            class="img-rounded"
            alt="Cinque Terre"
            style="width: 120px; height:100px; "
          />
        </div>
        <div class="col-sm-9 col-md-9">
          <a
            style="font-size: 35px; font-weight: 900; color:black; text-decoration: underline; "
          >
            Flask Framework
          </a>

          <p style="font-size: 24px">Here are the details</p>
        </div>
      </div>
    </div>
  </div>

  <!-- About programming languages-->
  <div class="row" style="margin-top: 80px">
    <div class="col-sm-6 col-md-6" style="margin-left: 20px; font-size:24px;">
      <h1 style="margin:50px 5px 20px; font-weight: 900 ">
        Programming Languages
      </h1>
      <p>
        These frameworks were majorly used for developing respondsive web
        application. Technoligies HTML, CSS were also used in the course of
        developement.
      </p>
      <div
        style="font-weight: 600; margin-left:30px; text-decoration: underline"
      >
        <span>Python</span> <br />
        <span>JavaScript</span><br />
        <span>SQL & Mysql</span><br />
        <span>Oracle</span><br />
        <span>Git and GitHub</span><br />
      </div>
    </div>
    <div class="col-sm-6 col-md-6" style="margin-right:-100px">
      <img
        src="{{url_for('static', filename='images/code.png')}}"
        class="img-rounded"
        alt="Cinque Terre"
        style="width: 90%; margin: 40px 40px;"
      />
    </div>
  </div>
</div>
{%endblock%}
